body {
  padding-top: 40px;
  background: #090909;
}

.navbar-fixed-top {
  border-bottom: 2px solid #000;
  background-color: #111;
}

.jumbotron {
  padding: 30px;
  background-color: #ddd;
  margin-bottom: 15px;
  border-bottom: 2px solid #000;

  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(left, #000000 50%, #9400d3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(50%,#000000), color-stop(100%,#9400d3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #000000 50%,#9400d3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #000000 50%,#9400d3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #000000 50%,#9400d3 100%); /* IE10+ */
  background: linear-gradient(to right, #000000 50%,#9400d3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#9400d3',GradientType=1 ); /* IE6-9 */
}

.title-highlight {
  color: #5a004a;
}

.article {
  //color: #cd853f;
  color: #c5c8c6;
  background-color: #111;
  padding: 6px 6px 6px 9px;
}

.highlight {
  margin: 5px 25px 5px 25px;
  border-radius: 8px;
}

.highlight>pre {
  background-color: #222;
  line-height: 17px;
}

code {
  font-size: 14px;
}

footer {
  text-align: center;
  padding: 25px;
}
